.C12-pillar-content-cards {
  // component controllers
  @include componentSpacingCompile();

  // custom styling below
  .uk-card {
    border: 1px solid $grey-lighter;

    p {
      margin: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__link {
    display: block;
  }
}
