<div data-id="C12" class="uk-container C12-pillar-content-cards">
    <div class="uk-text-left uk-margin-top" uk-grid>
        <div class="uk-width-1-1">
            <h3>{{ .Module.intro_title }}</h3>
            <p class="uk-text-lead C12-pillar-content-cards__lead">{{ .Module.intro_description }}</p>
        </div>
        <div class="uk-width-1-1">
            <div class="uk-container uk-container-small">
                {{ range $index, $element := .Module.content_card }}
                <div class="uk-card uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-middle">
                    <div class="uk-width-1-1@s uk-width-1-3@m C12-pillar-content-cards__image">
                        <img src="{{ $element.content_card_image}}" alt="Image for {{ $element.content_card_title}}">
                    </div>
                    <div class="uk-width-1-1@s uk-width-1-2@m uk-margin-left@m">
                        <p class="uk-text-lead C12-pillar-content-cards__lead">{{ $element.content_card_title }}</p>
                        {{- $element.content_card_description | markdownify -}}
                        <a href="{{ $element.content_card_link}}">{{ $element.content_card_cta }}</a>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
