.C09-split-title-content {
  // component controllers
  @include componentSpacingCompile();
  @include unorderList();
  @include svgLine();

  // custom styling below
  .projects-main {
    @media (max-width: $breakpoint-small) {
      margin-top: 0;
    }
  }

  .uk-published {
    padding: 5px;

    &.project {
      background-color: $brand-primary;
      color: $global-white;
      padding: 0 10px;
      font-weight: bold;
      border-radius: 20px;
      line-height: 1.5;
    }
  }
}
