<div data-id="C09" class="uk-container C09-split-title-content" uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 200; repeat: true">
    <svg class="C09-split-title-content__svg" width="100%" height="2" viewBox="0 0 1144 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1" y1="1" x2="42" y2="1" stroke="#F59C00" stroke-width="2" stroke-linecap="round"></line>
        <line x1="56" y1="1" x2="1143" y2="1" stroke="#D0D0D0" stroke-width="2" stroke-linecap="round"></line>
    </svg>
    <svg class="C09-split-title-content__svg-mobile" width="100%" height="2" viewBox="0 0 272 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1" y1="1" x2="31" y2="1" stroke="#F59C00" stroke-width="2" stroke-linecap="round"></line>
        <line x1="41" y1="1" x2="271" y2="1" stroke="#D0D0D0" stroke-width="2" stroke-linecap="round"></line>
    </svg>

    {{if .Module.image }}
    <div class="uk-card uk-animation-fade uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin uk-card-no-box-shadow" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="{{ .Module.image }}" alt="image for {{ .Module.image }}" uk-cover>
            <canvas width="600" height="340"></canvas>
        </div>
    </div>
    {{ end }}
    <div class="uk-container-small uk-align-center" uk-scrollspy="cls: uk-animation-fade; target: .uk-text-left; delay: 200; repeat: true">
        <div class="uk-text-left" uk-grid>
            <div class="uk-width-1-1@s">
                {{if .Module.title}}<h3>{{ .Module.title }}</h3>{{end}}
                {{if .Module.leadtext}}<p class="uk-text-lead uk-margin-small-bottom">{{ .Module.leadtext }}</p>{{end}}
                {{if .Module.content }}
                    {{ .Module.content | markdownify }}
                {{end}}
            </div>
        </div>
    </div>
</div>
