$brand-primary: #F74902;
$brand-primary-darker: #BF3902;
$brand-secondary: #6A6D71;
$brand-secondary-darker: #595B5F;
$brand-secondary-raspberry: #B60057;
$brand-secondary-red: #E54820;
$brand-secondary-teal: #007E97;
$brand-secondary-green: #8ABD24;

$grey-light: #999;
$grey-lighter: #D0D0D0;
$grey-lightest: #F0F0F0;

$grey-dark: #707070;
$grey-darker: #383838;
$grey-darkest: #103650;

$global-success-background: #32d296;
$global-warning-background: #faa05a;
$global-danger-background: #f0506e;

$white: #fff;
$black: #010101;