// $button-large-font-size: 24px;
// $button-large-padding-horizontal: 42px;
$button-line-height: 140%;
$button-padding-horizontal: 32px;
$button-font-size: 18px;

$button-primary-color: $global-black;
$button-primary-hover-background: $brand-primary-darker;
$button-primary-hover-color: $global-black;
$button-primary-focus-background: $brand-primary;
$button-primary-focus-color: $global-black;

$button-secondary-background: $brand-secondary;
$button-secondary-color: $global-white;

$button-disabled-background: $grey-lighter;
$button-disabled-color: $brand-secondary;

$button-minimal-color: $global-black;